<p>Welcome to the theme park!</p>


<p><b>Name:<%=@user.name%></b></p><br />
<p><b>Height:<%=@user.tickets%></b></p><br />
<p><b>Mood:<%=@user.mood%></b></p><br />
<p><b>Height:<%=@user.height%></b></p><br />
<p>ADMIN:<%= @user.admin%></p> <br />
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "See attractions", attractions_path %> <br />

<%= link_to "Log Out", logout_path, :method => "delete" %>
